<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ news.number }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <ion-label>{{ news.author }}</ion-label>
      <ion-button fill="outline" slot="end">Modify</ion-button>
    </ion-item>
  
    <ion-card-content>
      {{ news.title }}
    </ion-card-content>
  </ion-card>

</ion-content>
